EMbedding et vectorisation - Chat bot - RAG - Mederic.json
{
  "name": "EMbedding et vectorisation - Chat bot - RAG - Mederic",
  "nodes": [
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "texte",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        2304,
        0
      ],
      "id": "e8c64a5f-850d-4e9e-bf25-83a621d734b0",
      "name": "HTML Extract"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2784,
        0
      ],
      "id": "045403d6-15f0-49ac-b008-410091481ecc",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "2xPMXt8qsSaV6RHb",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2880,
        224
      ],
      "id": "dc596786-08c4-45d0-9a17-c889b0a8bd9c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2960,
        432
      ],
      "id": "34efaf3e-40a2-4f57-826b-1c4cc86c6472",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2752,
        224
      ],
      "id": "5b5634d3-a339-45e5-a8c3-aabd677bd785",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ibE5Or5X3JTvUbHr",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const texte = item.json.texte;\n\n  const nettoye = texte\n    .replace(/\\[javascript:[^\\]]+\\]/g, '')\n    .replace(/\\[https?:\\/\\/[^\\]]+\\]/g, '')\n    .replace(/https?:\\/\\/\\S+/g, '')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .split('\\n')\n    .filter(ligne => {\n      const l = ligne.trim();\n      if (l.length === 0) return false;\n\n      const bruit = [\n        'nous suivre', 'réseaux sociaux', 'politique de', 'mentions légales',\n        'préférences', 'logo', '@ 20', 'actions de formation', 'je découvre',\n        'je souhaite', 'je candidate', 'nous rencontrer', 'en savoir plus',\n        'vous souhaitez', 'contactez-nous', 'certification qualité',\n        'informations & candidatures', 'notre soirée', 'téléchargez'\n      ];\n      if (bruit.some(b => l.toLowerCase().includes(b))) return false;\n      if (l.startsWith('*')) return false;\n      if (/\\d/.test(l)) return true;\n      if (l.length < 25) return false;\n\n      return true;\n    })\n    .join('\\n')\n    .trim();\n\n  return { json: { texte: nettoye } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        0
      ],
      "id": "4036d90b-2547-46d5-b3b3-68d56fbb605a",
      "name": "delete links"
    },
    {
      "parameters": {
        "url": "https://www.cfamederic.com/sitemap.xml",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        16,
        0
      ],
      "id": "9e663124-32b2-4041-a5fb-5fb30f9f8e40",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "id": "01a78fcb-3e94-4491-915a-e996b538aaec",
      "name": "XML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "sitemapindex.sitemap",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        464,
        0
      ],
      "id": "cd75d263-4572-42a2-b092-c176fa7a6f03",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "={{ $json.loc }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        0
      ],
      "id": "8fd32589-bf0f-4c4d-9dc6-03b277147c2f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        912,
        0
      ],
      "id": "08559862-d248-4adb-b3ae-57557ce68025",
      "name": "XML1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urlset.url",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1136,
        0
      ],
      "id": "172247ef-6973-4c34-ba92-5140d57f6104",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "url": "={{ $json.loc }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2080,
        0
      ],
      "id": "eb740bea-9100-4bb7-a70f-68bca261041c",
      "name": "HTTP Request2",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bd5e2794-e2c7-4c62-a341-704be73b7c3c",
              "leftValue": "={{ $json.loc }}",
              "rightValue": ".png",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "529b26b0-577e-4d03-b634-251dd3ec69e4",
              "leftValue": "={{ $json.loc }}",
              "rightValue": ".jpg",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "8b3504e2-9343-4de5-97b2-6440198ffb60",
              "leftValue": "={{ $json.loc }}",
              "rightValue": ".svg",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "3d723fe9-d8fa-488c-a7a5-e9e730c1bc95",
              "leftValue": "={{ $json.loc }}",
              "rightValue": ".webp",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1496,
        0
      ],
      "id": "654f8ce1-b6ed-4d72-8937-8be8db99d741",
      "name": "Filter"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1856,
        0
      ],
      "id": "99e95cd7-bd62-4c64-94a3-3e4e1177e822",
      "name": "Wait",
      "webhookId": "c3acdfb5-2dd2-4d05-a3eb-be53e1cbfe9b"
    },
    {
      "parameters": {
        "operation": "search",
        "query": ".pdf"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1.1,
      "position": [
        16,
        400
      ],
      "id": "37125eb8-92c9-4d3a-8afd-d336144ebc3c",
      "name": "Search a file",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "BtBVf5e26USaWj0F",
          "name": "Microsoft Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "70b99568-3e36-4e6c-baa2-6884bb4ae3d7",
              "leftValue": "={{ $json.webUrl }}",
              "rightValue": "Document%20pour%20IA",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        240,
        400
      ],
      "id": "f0a9f844-169d-4ffb-9398-213d41447f73",
      "name": "Filter1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        464,
        400
      ],
      "id": "e7a722c4-b22c-490f-8c3b-429ee7f9906a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1.1,
      "position": [
        688,
        296
      ],
      "id": "40f0b006-b4ca-4919-aa11-2968f105c859",
      "name": "Download a file",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "BtBVf5e26USaWj0F",
          "name": "Microsoft Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        912,
        296
      ],
      "id": "874db94b-f944-4d0c-ada0-431ed8c3dcb6",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const texte = item.json.text || '';\n\n  const nettoye = texte\n    .replace(/^\\s*\\d+\\s*$/gm, '')\n    .split('\\n')\n    .filter(ligne => {\n      const l = ligne.trim();\n      if (l.length === 0) return false;\n      if (l.length < 15) return false;\n      return true;\n    })\n    .join('\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n\n  return { json: { texte: nettoye } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        296
      ],
      "id": "33d45025-e33a-40ba-b964-42e1dd63a02d",
      "name": "Nettoyage"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1392,
        400
      ],
      "id": "87797509-3c84-4f28-84f5-9a8faddf8d08",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "2xPMXt8qsSaV6RHb",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1488,
        624
      ],
      "id": "69781409-e2c1-463b-b01f-9b8d52e95285",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1568,
        832
      ],
      "id": "cb90df8d-4c2e-4053-9741-333514a1fe28",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1360,
        624
      ],
      "id": "779a6664-6d1b-446f-a1bd-176fbab6fafa",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ibE5Or5X3JTvUbHr",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        200
      ],
      "id": "7b902843-a966-4be4-bd07-a70a2a5dfde4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -208,
        200
      ],
      "id": "773f7855-82f9-41b0-9c16-9767c375d416",
      "name": "Delete data of Table Supabase"
    }
  ],
  "pinData": {},
  "connections": {
    "HTML Extract": {
      "main": [
        [
          {
            "node": "delete links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "delete links": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "XML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search a file": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Nettoyage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nettoyage": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Delete data of Table Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete data of Table Supabase": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d7d34a45-1683-49be-b8ed-2e1d4890676b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7f686366d9c4410c2328486460924cfed2add83f5011fb6f633952ceacde5fda"
  },
  "id": "EtopWaBet3oWsJvP",
  "tags": []
}